<template>
  <article class="advans-item">
    <svg-icon
      name="advan-arr"
      :style="{ '--svgColor': color, left: left + 'px' }"
      width="24"
      height="24"
      class="advans-item__icon" />

    <h3 class="h2 advans-item__title">
      <template v-for="(word, index) in splitText">
        <span
          v-if="!isTagRegexp.test(word)"
          ref="spans"
          v-text="word + ' '"></span>
        <br v-else-if="/br/.test(word)" />
      </template>
    </h3>
    <p class="text advans-item__text" v-text="text"></p>
  </article>
</template>
<script setup>
const { color, title, text } = defineProps(["color", "title", "text"]);
const isTagRegexp = /<[^<>]+>/;
const splitText = computed(() => {
  let res = title.split(" ");
  return res;
});
const left = ref(0);
const spans = ref(null);
onMounted(() => {
  const hFirst = spans.value[0].offsetTop;
  let lastSpan = null;
  for (let el of spans.value) {
    //console.log(el.offsetTop);
    if (el.offsetTop > hFirst) {
      break;
    } else {
      lastSpan = el;
    }
  }
  left.value = lastSpan.offsetLeft + lastSpan.offsetWidth;
});
</script>
<style scoped lang="scss">
.advans-item {
  --pt: 18px;
  padding-top: var(--pt);
  position: relative;
  &__title {
    margin-bottom: 9px;
  }

  &__icon {
    position: absolute;
    top: 0;
    width: var(--pt);
    height: var(--pt);
  }
  &__title,
  &__text {
    text-align: center;
  }
  &__title {
    br {
      display: none;
    }
  }
  @media screen and (min-width: 810px) {
    max-width: 258px;
    --pt: 24px;
    &__title {
      margin-bottom: 12px;
    }
    &__title,
    &__text {
      text-align: left;
    }
    &__title {
      br {
        display: initial;
      }
    }
  }
}
</style>
