<template>
  <div class="down">
    <img class="down-img" src="~/assets/logo.svg" alt="" />
    <h2 class="h2">{{ title }}</h2>
    <ui-desc class="down-desc">{{ desc }}</ui-desc>
    <ui-button :text="buttonText" :icon="buttonIcon"></ui-button>
  </div>
</template>
<script setup>
defineProps({
  title: {
    type: String,
    default: "Try Now for Free",
  },
  desc: {
    type: String,
    default: "Download on the App Store",
  },
  buttonText: {
    type: String,
    default: "Download App",
  },
  buttonIcon: {
    type: String,
  },
});
</script>
<style lang="scss" scoped>
.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-img {
    margin-bottom: 24px;
    width: 64px;
    height: 64px;
  }
  .h2 {
    margin-bottom: 12px;
  }
  &-desc {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 810px) {
    &-img {
      margin-bottom: 48px;
      width: 72px;
      height: 72px;
    }
    &-desc {
      margin-bottom: 48px;
    }
  }
}
</style>
