<template>
  <div class="features-item">
    <div class="wrapper">
      <div class="features-item__main">
        <div class="features-item__cont" :class="[order, color]">
          <div class="features-item__info" :class="order">
            <svg-icon
              v-if="icon"
              class="features-item__icon"
              :class="order"
              :name="icon"
              width="72"
              height="72" />
            <h3 class="h2 features-item__title" v-html="title"></h3>
            <p class="features-item__text" v-text="text"></p>
          </div>
          <div class="features-item__photo">
            <img class="features-item__img" :src="'/assets/img/' + photo" />
          </div>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>
<script setup>
defineProps(["title", "text", "icon", "photo", "order", "color"]);
</script>
<style scoped lang="scss">
.features-item {
  margin-bottom: 24px;
  &__main {
    max-width: 916px;
    border-radius: 24px;

    margin: auto;
    overflow: hidden;
  }
  &__cont {
    display: block;
    padding: 24px;
    padding-top: 48px;
    background: #fff;
    border: 1px solid var(--light-blue, #c6e7ec);
    justify-content: space-between;
    backdrop-filter: blur(32px);
    border-radius: inherit;
    &.blue {
      border: 1px solid var(--transparent-blue, rgba(255, 255, 255, 0.6));
      background: var(
        --transparent-blue,
        linear-gradient(
          0deg,
          rgba(198, 231, 236, 0.2) 0%,
          rgba(198, 231, 236, 0.2) 100%
        ),
        rgba(255, 255, 255, 0.6)
      );
    }
    &.red {
      border: 1px solid var(--transparent-magenta, rgba(230, 209, 219, 0.2));
      background: var(--transparent-magenta, rgba(230, 209, 219, 0.2));
      /* Background Blur */
      backdrop-filter: blur(32px);
    }
  }
  &__info {
    position: relative;
    margin-bottom: 48px;
  }
  &__icon {
    position: absolute;
    top: 0;
    display: none;
    &.odd {
      right: -46px;
    }
    &.even {
      top: 48px;
      left: -48px;
    }
  }
  &__title {
    //display: none;
    margin-bottom: 12px;
  }
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    padding: 0;
  }

  @media screen and (min-width: 810px) {
    position: sticky;
    top: 90px;
    margin-bottom: 48px;
    &__icon {
      display: block;
    }
    &__main {
      border-radius: 48px;
    }
    &__cont {
      display: flex;
      padding: 48px 94px;
      &.even {
        padding-top: 0;
      }
      &.odd {
        flex-direction: row-reverse;
        padding-bottom: 0;
      }
    }
    &__title {
      margin-bottom: 48px;
    }
    &__info {
      padding-top: 96px;
      max-width: 276px;
      margin-bottom: 0;
      &.even {
        padding-top: 144px;
      }
    }
  }
}
</style>
