@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "GT Super Display";
  src: url("/fonts/GT-Super-Text-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Super Display";
  src: url("/fonts/GT-Super-Text-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
