@import "fonts";
@import "vars";

.wrapper,
.page-main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
  @media screen and (min-width: 810px) {
    padding: 0 48px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
body {
  background: url("~/assets/img/body-bg.png") top left calc(50% + 291px)
    no-repeat;
}
a {
  text-decoration: none;
}
.link {
  color: var(--color-main);
  text-decoration: none;

  font-style: normal;

  transition: color 0.2s;
  &:hover {
    color: #ff3d40;
  }
}
span {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.button {
  border-radius: 54px;
  background: #0a0a0b;
  color: #fff;
  padding: 9px 21px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.h2 {
  font-family: "GT Super Display";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  line-height: 27px;
  @media screen and (min-width: 810px) {
    font-size: 32px;
    line-height: 36px;
  }
}
.h3 {
  font-family: "GT Super Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
// .__nuxt {
//   position: fixed;
//   top: 0;
//   margin: 0;
//   bottom: 0;
//   right: 0;
//   overflow-x: hidden;
// }
.section {
  position: relative;
  background-color: #fff;
  z-index: 100;
}
