<template>
  <footer class="page-footer">
    <div class="wrapper">
      <ui-line class="page-footer__line"></ui-line>
      <div class="page-footer__cont">
        <div class="page-footer__copy">
          <svg-icon
            width="22"
            height="22"
            name="advan-arr"
            class="page-footer__copy-icon" />
          <p class="page-footer__copy-text">
            © 2022 Art eService Ltd <br />Registered in England.<br />
            Company number 12442182.<br />
            All rights reserved.
          </p>
        </div>
        <nav class="page-footer__links">
          <ul class="page-footer__links-list">
            <li class="page-footer__links-item">
              <a href="#" class="page-footer__links-link">Facebook</a>
            </li>
            <li class="page-footer__links-item">
              <a href="" class="page-footer__links-link">Instagram</a>
            </li>
            <li class="page-footer__links-item">
              <a href="" class="page-footer__links-link">Twitter</a>
            </li>
            <li class="page-footer__links-item">
              <a href="" class="page-footer__links-link">LinkedIn</a>
            </li>
            <li class="page-footer__links-item">
              <a href="" class="page-footer__links-link">Behance</a>
            </li>
            <li class="page-footer__links-item">
              <a href="" class="page-footer__links-link">VSCO</a>
            </li>
          </ul>
          <ul class="page-footer__links-list">
            <li class="page-footer__links-item">
              <a href="#" class="page-footer__links-link">App Support</a>
            </li>
            <li class="page-footer__links-item">
              <a href="" class="page-footer__links-link">Terms & Conditions</a>
            </li>
            <li class="page-footer__links-item">
              <a href="" class="page-footer__links-link">Privacy Policy</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.page-footer {
  background-color: #fff;
  position: relative;
  z-index: 100;
  padding-bottom: 38px;
  &__line {
    --line-color: #e6d1db;
    margin-bottom: 24px;
  }
  &__cont {
    display: block;
    justify-content: space-between;
  }
  &__copy {
    --svgColor: #ff3d40;
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
    &-icon {
      transform: rotate(45deg);
      margin-right: 24px;
      display: none;
    }
    &-text {
      color: #8c8c8c;
    }
  }
  &__links {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 352px;
    gap: 24px;
    &-list {
      list-style-type: none;
      width: calc(50% - 12px);
    }
    &-link {
      color: var(--color-main);
    }
  }
  @media screen and (min-width: 810px) {
    &__cont {
      display: flex;
    }
  }
  @media screen and (min-width: 1200px) {
    &__line {
      margin-bottom: 48px;
    }
    &__copy {
      &-icon {
        display: block;
      }
    }
  }
}
</style>
