<template>
  <header class="page-header">
    <div class="wrapper">
      <div class="page-header__wrapper">
        <div class="page-header__logo">
          <img
            src="~/assets/logo.svg"
            width="48"
            height="48"
            class="page-header__logo-img"
            alt="" />
          <span class="page-header__logo-text">ArtUp.</span>
        </div>
        <div class="page-header__wrap">
          <div class="page-header__switch">
            <span class="page-header__switch-result">En</span>
            <svg-icon name="down" width="16" height="16" />
          </div>
          <nav class="page-header__menu">
            <a class="link" href="#support">App Support</a>
            <a class="link" href="#feautures">Feautures</a>
            <a class="link" href="#support">Download App</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss" scoped>
.page-header {
  height: 96px;
  &__wrapper {
    height: 100%;
  }
  &__wrapper,
  &__logo,
  &__wrap,
  &__switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__switch {
    color: var(--color-second);

    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: var(--color-main);
    }
    &-result {
      margin-right: 4px;
      font-size: 16px;
      font-family: Lato;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  &__logo {
    &-img {
      margin-right: 12px;
    }
    &-text {
      font-size: 24px;
      font-family: "GT Super Display";
      font-style: normal;
      font-weight: 500;
      opacity: 0;
      line-height: normal;
    }
  }
  &__menu {
    display: none;
  }
  @media screen and (min-width: 810px) {
    &__menu {
      display: flex;
    }
    &__switch {
      margin-right: 24px;
    }
  }
  .link {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.wrapper {
  height: 100%;
}
</style>
