<template>
  <p class="description"><slot></slot></p>
</template>
<style scoped lang="scss">
.description {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;

  text-transform: uppercase;
  color: var(--color-second);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 3.6px;
  @media screen and (min-width: 810px) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4.8px;
  }
}
</style>
