<template>
  <div class="line">
    <slot />
  </div>
</template>
<style scoped lang="scss">
.line {
  display: flex;
  align-items: center;
  &::before,
  &::after {
    content: " ";
    height: 1px;
    flex-grow: 1;
    background-color: var(--line-color);
  }
}
</style>
