<template>
  <section class="advans wrapper">
    <ui-line class="advans-line"><div class="spacer"></div></ui-line>

    <ui-desc class="advans-text"
      >Are you ready <br />to art up<br />
      your business?</ui-desc
    >
    <div class="advans-items">
      <block-advans-item
        v-for="(item, index) in items"
        class="advans-items__article"
        :class="'advans-items__article--' + index"
        v-bind="item"
        :key="item" />
      <div class="advans-items__img-cont">
        <img src="~/assets/img/advans.png" class="advans-items__img" alt="" />
      </div>
    </div>
  </section>
</template>
<script setup>
const items = [
  {
    color: "#C6E7EC",
    title: "Manage <br/> your artworks",
    text: "Add photos, artwork details, dimensions, pricing and even attach documents.",
  },
  {
    color: "#EFE26E",
    title: "Showcase <br/> your works",
    text: "Create web-based Viewing Rooms with your artwork selections to share with potential buyers.",
  },
  {
    color: "#FF3D40",
    title: "Display art <br/> in interiors",
    text: "Stage your artworks in their real dimensions in a variety of spaces created exclusively for art display.",
  },
  {
    color: "#0A0A0B",
    title: "Monitor <br/> buyer interest",
    text: "See buyers reactions and comments to your Viewing Rooms in real time.",
  },
];
</script>
<style scoped lang="scss">
.advans {
  padding-bottom: 72px;
  @media screen and (min-width: 810px) {
    padding-bottom: 76px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 85px;
  }
  &-line {
    --line-color: #e6d1db;
    margin-bottom: 24px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 36px;
    }
  }

  &-text {
    margin: auto;
    margin-bottom: 48px;
    text-align: center;
    max-width: 330px;

    br {
      display: none;
    }
    @media screen and (min-width: 810px) {
      margin-bottom: 32px;
      text-align: left;
      margin-left: 0;
      br {
        display: initial;
      }
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
  &-items {
    display: block;

    &__img-cont {
      grid-column: 2;
      grid-row: 1 / span 4;
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: 72px;
    }
    &__article {
      margin-bottom: 24px;
    }
    @media screen and (min-width: 810px) {
      display: grid;
      row-gap: 32px;
      grid-template-columns: 1fr 1fr;
      &__img-cont {
        align-self: center;
        margin-top: 0;
      }
      &__article {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: auto 1fr auto;
      row-gap: 84px;
      &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &__article {
        &--2,
        &--3 {
          grid-column: 3;
        }
      }
      &__article {
        &--0,
        &--1 {
          grid-column: 1;
        }
        &--2,
        &--3 {
          grid-column: 1;
        }
        &--2 {
          grid-column: 3;
          grid-row: 1;
        }
        &--3 {
          grid-column: 3;
          grid-row: 2;
        }
      }
      &__img-cont {
        grid-row: 1 / span 2;
        align-self: stretch;
      }
    }
  }
}
.spacer {
  flex-basis: 400px;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
</style>
