<template>
  <div class="section allone">
    <div class="wrapper">
      <ui-line class="allone-header">
        <ui-desc class="allone-header__text">All in one</ui-desc>
      </ui-line>
      <div class="allone-cont">
        <article class="allone__item allone__item-1">
          <svg-icon class="icon" name="all1" width="72" height="72" />
          <h3 class="h2">Analytics</h3>
        </article>
        <article class="allone__item allone__item-2">
          <svg-icon class="icon" name="all2" width="72" height="72" />
          <h3 class="h2">Export</h3>
          <ui-desc class="desc">export</ui-desc>
        </article>
        <article class="allone__item allone__item-3">
          <h3 class="h2">
            Showcase <br />
            on the web
          </h3>
          <ui-desc class="desc"
            >in stunning <br />
            Viewing Rooms</ui-desc
          >
          <svg-icon class="icon" name="all3" width="72" height="72" />
        </article>
        <article class="allone__item allone__item-4">
          <svg-icon class="icon" name="all4" width="56" height="56" />
          <h3 class="h2">
            Realistic <br />
            Interiors
          </h3>
          <img src="~/assets/img/Plant.png" class="plant-img" alt="" />
          <img src="~/assets/img/mark.svg" class="img" alt="" />
        </article>
        <article class="allone__item allone__item-5">
          <h3 class="h2">Manage Your Art Portfolio</h3>
          <svg-icon class="icon" name="all5" width="56" height="56" />
          <img src="~/assets/img/ship.svg" class="img" alt="" />
        </article>
        <article class="allone__item allone__item-6">
          <svg-icon class="icon" name="all6" width="56" height="56" />
          <h3 class="h2">Easy cropping</h3>
        </article>
        <article class="allone__item allone__item-7">
          <svg-icon class="icon" name="all7" width="72" height="72" />
          <h3 class="h2">
            Staging <br />
            in your own interiors
          </h3>
        </article>
        <article class="allone__item allone__item-8">
          <h3 class="h2">Background Removal</h3>
        </article>
      </div>
      <img src="~/assets/img/allbottom.svg" class="allone-bottom" alt="" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.allone {
  --line-color: #c6e7ec;
  &-bottom {
    width: 100%;
    height: auto;
  }
  &-header {
    margin-bottom: 24px;
    min-height: 48px;
    &__text {
      margin: 0 24px;
      @media screen and (min-width: 1200px) {
        margin: 0 48px;
      }
    }
  }
  &-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 24px;
    @media screen and (min-width: 810px) {
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }
    // @media screen and (min-width: 1200px) {
    //   grid-template-columns: repeat(12, 1fr);
    //   gap: 24px;
    // }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
    .h2,
    .desc {
      text-align: center;
    }
    .h2 {
      min-height: 3em;
      display: flex;
      align-items: center;
    }

    .icon {
      order: 1;
      width: 48px;
      height: 48px;
      margin-bottom: 30px;
    }
    .h2 {
      order: 2;
      br {
        display: none;
      }
    }
    .desc {
      display: none;
    }
    &-1 {
      grid-column: 1;
      grid-row: 1;
      background: rgba(230, 209, 219, 0.2);
    }
    &-2 {
      grid-column: 1;
      grid-row: 2;
      background: linear-gradient(0deg, #f4fafb 0%, #f4fafb 100%),
        rgba(255, 255, 255, 0.6);
    }
    &-3 {
      grid-column: 2;
      grid-row: 1;
      border: 1px solid var(--light-blue, #c6e7ec);
    }
    &-4 {
      grid-column: 2;
      grid-row: 2;
      background: var(
        --transparent-blue,
        linear-gradient(0deg, #f4fafb 0%, #f4fafb 100%),
        rgba(255, 255, 255, 0.6)
      );

      .plant-img,
      .img {
        display: none;
      }
    }
    &-5 {
      background: var(
        --transparent-blue,
        linear-gradient(0deg, #f4fafb 0%, #f4fafb 100%),
        rgba(255, 255, 255, 0.6)
      );
      img {
        display: none;
      }
    }
    &-6 {
      border: 1px solid var(--light-blue, #c6e7ec);
    }
    &-7 {
      grid-column: 2;
      background: #faf6f8;
    }
    &-8 {
      grid-row: 4;

      background: url("~/assets/img/backall8.svg") center bottom no-repeat;
      background-size: cover;
      .h2 {
        margin-top: calc(30px + 48px);
      }
    }
    @media screen and (min-width: 810px) {
      .desc {
        display: block;
      }
      .h2,
      .icon {
        order: unset;
      }
      .icon {
        width: 95px;
        height: 95px;
      }
      .h2 {
        min-height: unset;

        br {
          display: block;
        }
      }
      &-1 {
        grid-column: 1 / span 4;
        grid-row: 1;
        padding-top: 190px;
        padding-bottom: 63px;
        border-radius: 96px 96px 24px 24px;
        background: url("~/assets/img/backall1.svg") center center no-repeat
          rgba(230, 209, 219, 0.2);
        background-size: cover;
        .icon {
          width: 95px;
          height: 95px;
          margin-bottom: 80px;
        }
      }
      &-2 {
        grid-column: 1 / span 4;
        grid-row: 2;
        background: url("~/assets/img/backall2.svg") center right no-repeat;
        background-size: auto 100%;
        padding-top: 160px;
        padding-bottom: 176px;
        min-height: 482px;
        .icon {
          width: 95px;
          height: 95px;
          margin-bottom: 15px;
          order: unset;
        }
        .h2 {
          display: none;
        }
        .desc {
          display: block;
        }
      }
      &-3 {
        padding-top: 148px;
        grid-column: 5 / span 8;
        grid-row: 1 / span 2;
        border-radius: 248.578px;

        .h2 {
          margin-bottom: 12px;
        }
        .desc {
          margin-bottom: 68px;
        }
        .icon {
          width: 95px;
          height: 95px;
        }
      }
      &-4 {
        justify-content: flex-end;
        grid-column: 5 / span 8;
        grid-row: 2;
        border-radius: 248.578px;

        padding-bottom: 62px;
        background: url("~/assets/img/backall4.svg") center bottom no-repeat;
        background-size: 100% auto;
        position: relative;
        .icon {
          margin-bottom: 76px;
          width: 75px;
          height: 75px;
          position: relative;
          z-index: 10;
        }
        .h2 {
          min-height: 96px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .plant-img {
          position: absolute;
          bottom: 0;
          left: -44px;
        }
        .img {
          display: block;
          position: absolute;
          top: 82px;
          left: calc(50% - 65px);
          width: 130px;
          height: auto;
        }
      }
      &-5 {
        grid-column: 1 / span 12;
        grid-row: 3;
        border-radius: 24px;
        padding-top: 70px;
        background: url("~/assets/img/backall5.svg") center center no-repeat;
        background-size: cover;
        padding-bottom: 140px;
        position: relative;
        .h2 {
          margin-bottom: 92px;
        }
        .icon {
          position: relative;
          z-index: 10;
        }
        .img {
          display: block;
          position: absolute;
          left: calc(50% - (185px / 2));
          top: 162px;
        }
        .icon {
          width: 75px;
          height: 75px;
        }
      }
      &-6 {
        grid-column: 1 / span 6;
        grid-row: 4;
        padding-top: 63px;
        padding-bottom: 70px;
        border-radius: 24px;
        border: 1px solid var(--light-blue, #c6e7ec);
        background: url("~/assets/img/backall6.svg") center bottom no-repeat;
        background-size: 100% auto;
        .icon {
          margin-bottom: 27px;
        }
      }
      &-7 {
        grid-column: 7 / span 6;
        grid-row: 4 / span 2;
        padding-top: 42px;
        border-radius: 24px;
        background: url("~/assets/img/backall7.svg") center bottom no-repeat
          var(--transparent-magenta, rgba(230, 209, 219, 0.2));
        background-size: 100% auto;
        padding-bottom: 57px;
        .icon {
          align-self: start;
          margin-bottom: auto;
          width: 95px;
          height: 95px;
          margin-bottom: 237px;
          margin-left: 36px;
        }
      }
      &-8 {
        grid-column: 1 / span 6;
        grid-row: 5;
        min-height: 220px;
        justify-content: center;
        .h2 {
          margin-top: 0;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      padding-left: 8px;
      padding-right: 8px;
      &-1 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 8;
        padding-top: 144px;
        padding-bottom: 48px;
        border-radius: 96px 96px 24px 24px;
        background: url("~/assets/img/backall1.svg") center center no-repeat
          rgba(230, 209, 219, 0.2);
        background-size: cover;
        .icon {
          margin-bottom: 60px;
        }
      }
      &-2 {
        grid-column: 1 / span 2;
        grid-row: 9 / span 8;
        background: url("~/assets/img/backall2.svg") right center no-repeat;
        background-size: auto 100%;
        padding-top: 122px;
        padding-bottom: 134px;
        .icon {
          margin-bottom: 12px;
        }
      }
      &-3 {
        padding-top: 96px;
        grid-column: 3 / span 4;
        grid-row: 1 / span 8;
        .h2 {
          margin-bottom: 12px;
        }
        .desc {
          margin-bottom: 36px;
        }
      }
      &-4 {
        justify-content: flex-end;
        grid-column: 3 / span 4;
        grid-row: 1 / span 16;
        border-radius: 188px;
        border: 1px solid var(--light-blue, #c6e7ec);
        padding-bottom: 48px;
        background: url("~/assets/img/backall4.svg") center bottom no-repeat;
        background-size: 100% auto;
        position: relative;
        .icon {
          margin-bottom: 58px;
        }
        .plant-img {
          position: absolute;
          bottom: 0;
          left: -44px;
        }
      }
      &-5 {
        grid-column: 7 / span 6;
        grid-row: 1 / span 7;
        border-radius: 24px;
        padding-top: 48px;
        background: url("~/assets/img/backall5.svg") center center no-repeat;
        background-size: cover;
        .h2 {
          margin-bottom: 66px;
        }
      }
      &-6 {
        grid-column: 7 / span 3;
        grid-row: 8 / span 5;
        padding-top: 48px;
        border-radius: 24px;
        border: 1px solid var(--light-blue, #c6e7ec);
        background: url("~/assets/img/backall6.svg") center bottom no-repeat;
        .icon {
          margin-bottom: 27px;
        }
      }
      &-7 {
        grid-column: 10 / span 3;
        grid-row: 8 / span 9;
        padding: 24px;
        border-radius: 24px;
        background: url("~/assets/img/backall7.svg") center bottom no-repeat
          var(--transparent-magenta, rgba(230, 209, 219, 0.2));

        padding-bottom: 32px;
        .icon {
          align-self: start;
          margin-bottom: auto;
        }
      }
      &-8 {
        grid-column: 7 / span 3;
        grid-row: 13 / span 4;
        padding-top: 48px;
        padding-bottom: 48px;
        background: url("~/assets/img/backall8.svg") center bottom no-repeat;
        margin: auto;
      }
    }
  }
}
</style>
