<template>
  <section class="banner">
    <div class="wrapper banner-wrapper">
      <ui-line class="banner-line"></ui-line>
      <h1 class="banner-title">ArtUp.</h1>
      <ui-desc class="banner-desc">Portfolio & Staging</ui-desc>
      <div class="banner-call">
        <span
          >An essential tool for artists, art collectors, interior decorators,
          designers and art aficionados alike.</span
        >
        <img
          src="~assets/img/cta1.svg"
          alt=""
          class="banner-call__img banner-call__img--1" /><img
          src="~assets/img/cta2.svg"
          alt=""
          class="banner-call__img banner-call__img--2" /><img
          src="~assets/img/cta3.svg"
          alt=""
          class="banner-call__img banner-call__img--3" />
      </div>
      <ui-button text="Download App" class="app-button" />
      <div class="banner-scroll">
        <p class="banner-scroll__text">Scroll to Explore</p>
        <div class="banner-scroll__arrow">
          <div class="banner-scroll__arrow-line"></div>
          <svg-icon
            name="arrow"
            height="24"
            width="12"
            class="banner-scroll__arrow-icon" />
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.banner {
  padding-bottom: 96px;
  &-line {
    --line-color: #0a0a0b;
  }
  &-line {
    width: 100%;
    display: none;
    @media screen and (min-width: 810px) {
      display: flex;
    }
  }
  @media screen and (min-width: 810px) {
    padding-bottom: 114px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 48px;
  }
  &-title {
    font-family: "GT Super Display";
    font-style: normal;
    font-weight: 500;

    line-height: 48px;
    font-size: 36px;
    @media screen and (min-width: 810px) {
      line-height: 96px;
      padding-top: 12px;
      font-size: 64px;
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-desc {
    margin-bottom: 72px;
  }
  &-call {
    span {
      font-size: 37px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px;
    }
    max-width: 768px;
    margin-bottom: 48px;
    position: relative;
    &__img {
      position: absolute;
      display: block;
      display: none;
      &--1 {
        top: 27px;
        left: 329px;
      }
      &--2 {
        top: 19px;
        left: 665px;
      }
      &--3 {
        top: 159px;
        left: 333px;
      }
    }
    @media screen and (min-width: 810px) {
      span {
        font-size: 56px;
        font-weight: 400;
        line-height: 72px;
      }
      &__img {
        display: none;
      }
    }
  }

  &-scroll {
    display: none;
    align-items: flex-end;
    margin-left: auto;
    margin-top: -30px;
    &__text {
      color: var(--color-second);
      margin-right: 24px;
    }
    &__arrow {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-line {
        height: 72px;
        background-color: #c6e7ec;
        width: 2px;
      }
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}
</style>
