<template>
  <section class="section features">
    <div class="wrapper">
      <ui-line class="features-line"></ui-line>
      <h2 class="h2 features-header">Features</h2>
    </div>
  </section>
  <template v-if="!isMobile">
    <block-features-item
      v-for="(feature, index) in features"
      v-bind="feature"
      :order="index % 2 ? 'even' : 'odd'"
      :class="{ last: index === features.length - 1 }">
      <div v-if="feature.slot === 'list'" class="features-slot">
        <div class="features-slot__list-block">
          <h3 class="h3 features-slot__list-title">Residential</h3>
          <ul class="features-slot__list">
            <li class="features-slot__list-item">
              <svg-icon
                name="li1"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Living rooms</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="li2"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Entryways and halls</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="li3"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Bedrooms</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="li4"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Home offices</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="li5"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text"
                >Nurseries and kids’ rooms</span
              >
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="li6"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Bathrooms</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="li7"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Kitchens</span>
            </li>
          </ul>
        </div>
        <div class="features-slot__list-block">
          <h3 class="h3 features-slot__list-title">Commercial</h3>
          <ul class="features-slot__list">
            <li class="features-slot__list-item">
              <svg-icon
                name="lil1"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Offices</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="lil2"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Conference rooms</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="lil3"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Galleries</span>
            </li>
            <li class="features-slot__list-item">
              <svg-icon
                name="lil4"
                width="16"
                height="16"
                class="features-slot__list-icon" />
              <span class="features-slot__list-text">Minimal spaces</span>
            </li>
          </ul>
        </div>
      </div></block-features-item
    >
  </template>
  <swiper v-else class="swiper" :slides-per-view="1.122699" :space-between="8">
    <swiper-slide v-for="(feature, index) in features">
      <block-features-item
        v-bind="feature"
        :order="index % 2 ? 'even' : 'odd'"
        :class="{ last: index === features.length - 1 }">
      </block-features-item
    ></swiper-slide>
  </swiper>
</template>
<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import { ref } from "vue";
// Import Swiper styles
import "swiper/css";
const isMobile = ref(false);
onMounted(() => {
  isMobile.value = window.innerWidth <= 810;
});
const features = [
  {
    title: "Art Portfolio Management",
    text: "Store and manage your art portfolio in one place. Add photos, artwork details, dimensions, pricing and even attach documents.",
    icon: "all5",
    photo: "Phone1.png",
    color: "blue",
  },
  {
    title: "Showcase Your Art In Viewing Rooms",
    text: `Create Viewing Rooms with unique URLs to send to clients via email, messengers or social networks.
            Viewers can review your proposed artworks on a landing page in their browser and leave their comments
            and reactions (Love it, Not for me, etc.) to each piece. Your ArtUp profile information will
             automatically display at the bottom of the page.`,
    icon: "all3",
    photo: "Phone2.png",
  },
  {
    title: "Smart Cropping",
    text: `Crop your artwork from a photo before hanging it on the wall of an interior space or using it as a separate image.`,
    icon: "all6",
    photo: "Phone3.png",
    color: "blue",
  },
  {
    title: "Display Art in Exclusive Realistic Interiors",
    text: `Exhibit your artworks in their real dimensions in stylish interiors created exclusively for ArtUp users by interior design experts. Artworks are placed anywhere on the wall behind furniture and décor objects to create a photorealistic rendering. Change wall colours and adjust drop shadows as needed.`,
    icon: "all4",
    photo: "Phone4.png",
    color: "blue",
    slot: "list",
  },
  {
    title: "Viewing Room Analytics",
    text: `Viewing Room AnalyticsReview how potential buyers interact with your Viewing Room by seeing their opens, views, and feedback instantly in the app. ArtUp automatically determines a client’s interest in your artworks based on a number of factors.`,
    icon: "all1",
    photo: "Phone5.png",
    color: "red",
  },
  {
    title: "Background Removal",
    text: `Remove background from photos of sculptures with our AI-powered technology.`,

    photo: "Phone6.png",
    color: "red",
  },
  {
    title: "Hang art in your own interior",
    text: `Upload your own photo of an interior space and display your artwork in it. Change wall colours, adjust perspective and drop shadows for a realistic look.`,
    icon: "all7",
    photo: "Phone7.png",
    color: "red",
  },
  {
    title: "Export in high resolution",
    text: `Export your artwork photos in all the popular social media formats in 4K resolution.`,
    icon: "all2",
    photo: "Phone8.png",
    color: "blue",
  },
];
</script>

<style lang="scss" scoped>
.swiper {
  padding-left: 16px;
}
.features-item.last {
  margin-bottom: 98px;
}
.features {
  &-line {
    --line-color: #c6e7ec;

    margin-bottom: 24px;
  }
  &-header {
    text-align: center;
    margin-bottom: 60px;
    display: none;
  }
  &-slot {
    display: flex;
    padding: 92px 74px;
    // border-radius: 0px 0px 48px 48px;
    // border-right: 2px solid var(--transparent-blue, rgba(255, 255, 255, 0.6));
    // border-bottom: 2px solid var(--transparent-blue, rgba(255, 255, 255, 0.6));
    // border-left: 2px solid var(--transparent-blue, rgba(255, 255, 255, 0.6));
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: var(--white, #fff);
    /* Background Blur */
    backdrop-filter: blur(32px);
    &__list {
      list-style-type: none;
      &-title {
        margin-bottom: 30px;
      }
      &-block {
        width: 50%;
      }
      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        padding: 0 4px;
      }
      &-icon {
        margin-right: 8px;
      }
    }
  }
  @media screen and (min-width: 810px) {
    &-line {
      margin-bottom: 61px;
    }
  }
  @media screen and (min-width: 1200px) {
    &-header {
      display: block;
    }
    &-line {
      margin-bottom: 72px;
    }
  }
}
</style>
