<template>
  <section class="section qr">
    <div class="wrapper">
      <ui-line class="qr-line"></ui-line>
      <block-down
        class="qr-down"
        title="ArtUp."
        desc="Portfolio & Staging"
        button-text="&#63743; Download on the App Store" />
      <div class="qr-block">
        <svg-icon class="qr-round" width="408" height="408" name="qr-round" />
        <svg-icon class="qr-img" width="216" height="216" name="qr" />
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.qr {
  padding-bottom: 72px;
  &-line {
    margin-bottom: 72px;
    --line-color: #c6e7ec;
  }

  &-block {
    width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: none;
    @media screen and (min-width: 810px) {
      display: block;
    }
  }
  &-round {
    position: absolute;
    top: 45px;
    left: 45px;
    bottom: 45px;
    right: 45px;
  }
  &-img {
    position: absolute;
    top: 142px;
    right: 142px;
    bottom: 142px;
    right: 142px;
  }
}
</style>
