<template>
  <section class="section try">
    <div class="wrapper">
      <block-down title="Try Now for Free" text="Download on the App Store" />
    </div>
  </section>
</template>

<style scoped lang="scss">
.try {
  padding: 72px 0;
  @media screen and (min-width: 1200px) {
    padding-top: 71px;
    padding-bottom: 90px;
  }
}
</style>
